h1{
    color: red;
    text-transform: capitalize;
    text-align: center;
}
div{
    height: 200px;
    width: 200px;
    color: coral;
    display: flex;
    text-transform: capitalize;
    background-color: bisque;
 /* transition: all ease-out 5s; */
    transition-duration: 5s;
    transition-property: all;
    transition-delay: 5s;
    transition-timing-function: ease-in;
    rotate: 360deg;
    transform: scale(0.5);
}
div:hover{
    background-color:chartreuse;
    color: white;
    font-size: 20px;
    background-image: url(sharma.jpg);
    background-size: cover;
    transform: scale(90deg);
}
div:active{
    background: red;
    color:red;
    background-image: url(raghu.jpg);
    background-size: cover;
}